.eventoContainer {
  display: flex;
  gap: 2rem; /* espaçamento entre os boxes */
  flex-wrap: wrap; /* quebra de linha em telas menores */
  justify-content: center; /* centraliza os boxes */
  margin-top: 1rem;
}

.eventoBox {
  background-color: #f5f5f5;
  width: 250px; /* largura ajustada para igual ao eventCard */
  padding: 12px; /* padding igual ao do eventCard */
  border-radius: 12px; /* border-radius igual ao do eventCard */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.eventoBox:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* sombra no hover igual ao do eventCard */
}
