
.image {
  width: 100%;
  height: 400px; /* altura maior para destaque */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
  /* sem hover */
}

.participarButton {
   margin-top: 12px;
  padding: 8px 12px;
  background-color: #004080;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.participarButton:hover {
  background-color: #002f60;
}
