





/* Box de Evento */
.eventos-oficinas {
  padding: 30px;
  min-height: 100vh;
  background-color: #f8f8f8;
}
.evento-box,
.parceiro {
  background-color: #f8f8f8;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.evento-box:hover,
.parceiro:hover {
  background-color: #ff9800;
  color: white;
  cursor: pointer;
}

/* Estilos para o formulário de contato */
form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {
  background-color: #444;
}
 

/* Responsividade para telas menores */

  

  .evento-box,
  .parceiro {
    text-align: center;
  }

  form input,
  form textarea {
    font-size: 1em;
  }

